@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #0a0a0a;
  --background: #fafafa;
  --muted: #737373;
  --border: #e5e5e5;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #fafafa;
    --background: #0a0a0a;
    --muted: #a3a3a3;
    --border: #262626;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}
